*{
    margin: 0;
    padding:0;
}

body{
    background: #252525;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
}

section{
    width: 70%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background: #343434;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

h3{
    color: #bb7d44;

}

input, span{
    padding: 10px 20px;
    border-radius: 5px;
}

input{
    outline: none;
    border: none;
    margin: 30px 0 20px;
    background: #424242;
    color: #eaeaea;
    caret-color: #bb7d44;
    transition: 0.1s;

}

span{
    background: #bb7d44;
    color: #252525;
    text-align: center;
    cursor: pointer;

}

input:focus{
    box-shadow: 0 0 0 2px #bb7d44;
}
